/* styles.module.css */

.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 1cm;
    overflow-x: auto; /* Activer le défilement horizontal si nécessaire */
    -webkit-overflow-scrolling: touch; /* Activer le défilement fluide sur iOS */
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-right: 10px; /* Espacement entre les onglets */
  }
  
  .tab:hover {
    background-color: #ccc;
  }
  
  /* Réduire la taille des onglets sur les petits écrans */
  @media (max-width: 480px) {
    .tab {
      padding: 4px 8px; /* Réduire la taille des onglets */
    }
  }
  
  