/* TabBar.css */

/* TabBar.css */

.tab-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00008b; /* Bleu foncé */
  }
  
  .tab {
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Ajout de la transition de couleur */
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Ajout de l'ombre de texte */
  }
  
  .tab:hover {
    background-color: #0056b3; /* Bleu un peu plus clair au survol */
  }
  
  .tab.active {
    background-color: #0056b3;
    color: #fff; /* Couleur du texte en blanc lorsque l'onglet est actif */
    text-shadow: none; /* Suppression de l'ombre de texte lorsque l'onglet est actif */
  }
  