.tab-content {
  background-color: #fff; /* Fond blanc */
  padding: 20px;
}

.tab-content-item {
  text-align: left; /* Alignement à gauche */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignement du contenu à gauche */
  justify-content: center; /* Centrage vertical */
  margin-top: 8cm; /* Marge de 10 cm par rapport au header */
}

.vision-title,
.Engagement-title,
.Mission-title,
.Expertise-title {
  font-size: 40px; /* Taille de police pour le titre */
  margin-bottom: 10px; /* Marge en bas pour séparer du contenu */
  text-align: left; /* Alignement du titre à gauche */
  align-self: flex-start; /* Alignement du titre à gauche */
}

.APEGG-title {
  font-size: 70px; /* Taille de police pour le titre */
  margin-bottom: 20px; /* Marge en bas pour séparer du contenu */
  text-align: left; /* Alignement du titre à gauche */
  align-self: flex-start; /* Alignement du titre à gauche */
}

.GARNER_Energies, .GARNER_Energies-message {
  text-align: left; /* Alignement du texte à gauche */
}


.tab-content-item {
  font-size: 30px; /* Taille de police pour le contenu */
}

/* Styles spécifiques pour le contenu de l'onglet APEGG */
.apegg-message {
  font-family: "Arial", sans-serif; /* Police spécifique */
  font-size: 40px; /* Taille de police spécifique */
  font-weight: bold; /* Texte en gras */
  /* Autres styles si nécessaire */
}
.tab-content-item {
  text-align: left; /* Alignement à gauche */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical */
}
